/*GENERAL CSS*/
body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

h1 {
    font-size: 23px;
    font-weight: bolder;
}

h2 {
    font-size: 23px;
    display: inline;
}

h3 {
    font-size: 17px;
    word-spacing: 1.2;
    font-weight: bolder;
    word-spacing: 1.7; 
    display: inline;
}

h4 {
    color: grey;
    font-size: 20px;
    display: inline-block;
    margin-top: 22px;
}

h5 {
    color: grey;
    font-size: 18px;
    display: inline-block;
    margin-top: 25px;
}

/*NAVBAR*/
.navbarCustom {
    width: 100%;
    height: 50px;
    background-color: lightgrey;
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbarLogo {
    height: 30px;
    width: 130px;
    margin-top: 10px;
}

.navbarButton {
    height: 30px;
    width: 130px;
    margin-top: 10px;
    border: 2px;
    border-radius: 2px;
    font-size: 10px;
    padding-right: 0px;
    padding-left: 0px;
}

.navbarButtonOne {
    background-color: cornflowerblue; 
    color: white;
}

.navbarButtonTwo {
    background-color: white;
    color: grey;
}

/*SHOWCASE*/
.showcase {
    width: 100%;
    height: 30%;
    background-color: lightgrey;
    margin-top: 0px;
}

/*CONTENT*/
.content {
    width: 100%;
    height: 70%;
    background-color: black;
    margin-top: 0px;
}

.contentDiv {
    background-color: black;
    height: 75%;
}

.contentButton {
    background-color: cornflowerblue; 
    color: white;
    height: 30px;
    border-width: 0px;
    border-radius: 2px;
    font-size: 10px;
    padding-right: 0px;
    padding-left: 0px;
}

.contentButtonOne {
    width: 175px;
}

.contentButtonTwo {
    margin-right: 13%;
}

.contentButtonThree {
    margin-left: 13%;
}

.contentButtonTwo, .contentButtonThree {
    width: 35%;
    margin-top: 10px;
}

.inputPageOne {
    width: 100%; 
    border-radius: 2px;
    margin-top: 7px;
    font-style: italic;
    border-style: none;
}

.formPageOne {
    width: 100%;
}

.contentOr {
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 2%;
    display: inline-block;
}

.bottomContentButtons {
    width: 100%;
}

/* SUBNAVBAR, SEARCH PAGE */
.subnavbarButton {
    margin-top: 20px; 
    width: 153px;
}

.subnavbarButtonA {
    margin-left: 30%; 
}

.subnavbarButtonB {
    margin-left: 55%;
}

/* CONTENT, SEARCH PAGE */
.searchDivs {
    height: 70%;
}

.searchFormsDiv {
    background-color: black;
}

.searchResultsDiv {
    background-color: grey;
    padding: 0px;
}

.blackSubnavbar {
    width: 100%;
    background-color: black;
    padding-left: 10px;
    padding-bottom: 10px;
}

/* FOOTER */ 
.footer {
    height: 80px;
    margin-top: 80px;
    background-color: lightgrey;
}

.footerText {
    margin-top: 23px;
}

.footerButton {
    margin-top: 18px;
    width: 110px;
}

.smallerFooterDiv {
    padding: 0px;
}

.redQuarry {
    margin-left: 30px;
}

/* MEDIA QUERIES */
    /* EXTRA SMALL SCREENS */
@media screen and (max-width: 767px) {
    body {
        overflow: auto;
    }
    .contentSignUp, .contentDivOne {
        text-align: center;
    }
}

/* SMALL SCREENS */
@media screen and (max-width: 992px) {

}

    /* MEDIUM SCREENS */
@media screen and (max-width: 1200px) {
    .contentButtonTwo, .contentButtonThree {
        margin: 15 0 0 0; 
        width: 100%;
    }
    .contentOr {
        margin-left: 47%;
    }
}

    /* LARGE SCREENS */
@media screen and (min-width: 1200px) {
    
}