/*Import Font Faces */
@font-face {
    font-family: "AlternateGothic2BTRegular";
    src: url('fonts/alternate-gothic-no2-bt-webfont.eot');
    src: url('fonts/alternate-gothic-no2-bt-webfont.svg') format('svg'),
         url('fonts/alternate-gothic-no2-bt-webfont.ttf') format('truetype'),
         url('fonts/alternate-gothic-no2-bt-webfont.woff') format('woff');
}

@font-face {
    font-family: "RobotoBold";
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.svg') format('svg'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff');
}

/*GENERAL CSS*/
body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

body, p {
    font-family: "Roboto-Bold-webfont", arial, sans-serif; 
}

h1, h2, h3, h4 {
    font-family: "AlternateGothic2BTRegular", arial, sans-serif;
}

h1 {
    font-size: 23px;
    font-weight: bolder;
    margin-bottom: 30px;
}

h2 {
    font-size: 23px;
    display: inline;
}

h3 {
    font-size: 17px;
    word-spacing: 1.2;
    font-weight: bolder;
    word-spacing: 1.7; 
}

h4 {
    color: grey;
    font-size: 20px;
    display: inline-block;
    margin-top: 22px;
}

h5 {
    color: grey;
    font-size: 18px;
    display: inline-block;
    margin-top: 25px;
}

/*NAVBAR*/
.navbarCustom {
    width: 100%;
    height: 50px;
    background-color: lightgrey;
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbarLogo {
    height: 30px;
    width: 100%;
    margin-top: 10px;
}

.navbarButton {
    height: 30px;
    width: 100%;
    margin-top: 10px;
    border: 2px;
    border-radius: 2px;
    font-size: 10px;
    padding-right: 0px;
    padding-left: 0px;
}

.navbarButtonOne {
    background-color: cornflowerblue; 
    color: white;
}

.navbarButtonTwo {
    background-color: white;
    color: grey;
}

.navbarLogo {
    text-align: center;
}

/*SHOWCASE*/
.showcase {
    width: 100%;
    height: 30%;
    background-color: lightgrey;
    margin-top: 0px;
}

/*CONTENT*/
.content {
    width: 100%;
    height: 70%;
    background-color: black;
    margin-top: 0px;
}

.contentDiv {
    background-color: black;
    height: 75%;
}

.contentButton {
    background-color: cornflowerblue; 
    color: white;
    height: 30px;
    border-width: 0px;
    border-radius: 2px;
    font-size: 10px;
    padding-right: 0px;
    padding-left: 0px;
}

.contentButtonOne {
    width: 175px;
    margin-top: 15px;
}

.contentButtonTwo, .contentButtonThree {
    margin-top: 10px;
}

.inputPageOne {
    width: 100%; 
    border-radius: 2px;
    margin-top: 7px;
    font-style: italic;
    border-style: none;
}

.formPageOne {
    width: 100%;
}

.contentOr {
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: inline-block;
    text-align: center;
}

.bottomContentButtons {
    width: 100%;
}

/* SUBNAVBAR, SEARCH PAGE */
.subnavbarButton {
    margin-top: 20px; 
}

.subnavbarButtonB {
    margin-left: 60%;
    width: 25%;
    margin-left: 58.5%;
}

.resultsHeader {
    width: 15%;
}


.blackSubnavbar {
    width: 100%;
    background-color: black;
    padding-left: 0px;
    padding-bottom: 10px;
}

/* CONTENT, SEARCH PAGE */
.searchDivs {
    height: 75%;
    margin-left: -30px;
}

.searchFormsDiv {
    background-color: black;
}

.searchResultsDiv {
    background-color: grey;
    padding: 0px;
}

/* FOOTER */ 
.footer {
    height: 80px;
    margin-top: 40px;
    background-color: lightgrey;
}

.footerText {
    margin-top: 23px;
    padding-left: 0px;
}

.footerButton {
    margin-top: 18px;
    width: 14%;
    margin-left: 1%;
}

.smallerFooterDiv {
    padding: 0px;
}

/* MEDIA QUERIES */

    /* EXTRA SMALL SCREENS */
@media screen and (max-width: 767px) {
    body {
        overflow: auto;
    }
    .contentDiv {
        height: 280px;
        margin-top: 50px;
    }

    .contentSignUp, .contentDivOne {
        text-align: center;
    }
    .contentButtonTwo, .contentButtonThree {
        margin: 15 0 0 0; 
        width: 100%;
    }    
    .contentOr {
        width: 10%;
        margin-right: 45%;
        margin-left: 45%;
        padding: 0px;
        font-size: 20px;
    }
    .inputPageOne, .bottomContentButtons {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 30px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
    .contentButtonThree {
        margin-bottom: 30px;
    }
    .footer {
        height: 360px;
        text-align: center;
        margin-bottom: 60px;
        border-radius: 5px;
    }
    .footerButton {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 10px;
    }
    .footerText {
        padding-left: 15px;
    }
    .smallerFooterDiv {
        padding-top: 20px;
    }
    .redQuarry {
        margin-top: 20px;
    }
    .smallerFooterDivLeft, .smallerFooterDivRight {
        background-color: black;
    }
    .searchDivs {
        border-radius: 5px;
    }
    .searchContent {
        padding: 0px;
    }
    .blackSubnavbar {
        background-color: grey;
        border-radius: 5px;
    }
    h5 {
        color: white;
    }
}

/* SMALL SCREENS */
@media screen and (max-width: 992px) {

}

    /* MEDIUM SCREENS */
@media screen and (max-width: 1200px) {

}

    /* LARGE SCREENS */
@media screen and (min-width: 1200px) {
    
}

    /* OTHER */
@media screen and (max-width: 600px) {
    .contentDiv {
        height: 350;
    }
}