/* Bootstrap overrides 
hint: never redefine "col-" classes, just make a new class
*/
@font-face {
    font-family: "AlternateGothic2BRegular";
    src: url('../fonts/alternate-gothic-no2-bt-webfont.eot');
    src: url('../fonts/alternate-gothic-no2-bt-webfont.svg') format('svg'),
         url('../fonts/alternate-gothic-no2-bt-webfont.ttf') format('truetype'),
         url('../fonts/alternate-gothic-no2-bt-webfont.woff') format('woff');
}

@font-face {
    font-family: "RobotoBold";
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.svg') format('svg'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff');
}

h1, h2, h3, h4 {
    font-family: "AlternateGothic2BRegular", arial, sans-serif;
}

p {
    font-family: "RobotoBold", arial, sans-serif;
}

h1 {
    color: #666666;
    font-size: 44px;
}

h2 {
    color: #666666;
    font-size: 36px;
}

p {
    color: #666666;
    font-size: 20px;
    
}

button {
    border-style: none;
}

.buttonone {

    background-color: #FB8E00;
    color: white;
    font-family: sans-serif;
    margin-top: 20px;

}

.logo {
    margin-top: 20px;
}

.showcase {

    background-color: #FDCA66;
    height: 300px;
    padding: none;
    text-align: center;
    margin: 0px;
}

.showcasetext {
    margin: 125px;
}

.buttontwo {

    background-color: white;
    border-color: #FB8E00;
    border-style: solid;
    border-width: .1mm;
    width: 100px;
    font-family: sans-serif;
    margin-top: 20px;
}


.placeholder {
    font-style: italic;
}

.buttonthree {
    background-color: #FB8E00;
    color: white;
    
}

.buttonsfourandfive {
    border-color: darkgray;
    border-style: solid;
    border-width: .1mm;
    background-color: white;
    margin: 0px;

}

.buttonsfourandfive:focus {
    background-color: #FDCA66;
   outline: none;
  
}

.buttonsix {
    background-color: #FB8E00;
    color: white;
}

.buttonseven {
    background-color: lightsteelblue;
    color: white;
}
.headerthingy {
    font-family: sans-serif;
    font-size: 21;
    float: left;
}
body {
    background: #f1f1f1;
}
#header {
    border-bottom: 1px solid gray;
    width: 100%;
    height: 65px;
    background-color: white;
}
/* Custom CSS */