/* Bootstrap overrides 
hint: never redefine "col-" classes, just make a new class
*/
button {
    border-style: none;
}

.buttonone {
    background-color: lightskyblue;
    
}

.showcase {
    background-color: lightslategrey;
    height: 200px;
    text-align: center;
}

.buttontwo {
    background-color: white;
}

placeholder {
    font-style: italic;
}

.buttonthree {
    background-color: lightskyblue;
}

.buttonsfourandfive {
    border-color: white;
    background-color: white;
}

.buttonsfourandfive:focus {
    background-color: lightskyblue;
    border-color: white;
    outline: none;
}

.buttonsix {
    background-color: lightskyblue;
}

.buttonseven {
    background-color: lightsteelblue;
}
/* Custom CSS */