/* Bootstrap overrides 
hint: never redefine "col-" classes, just make a new class
*/
button {
    border-style: none;
}

.buttonone {
    background-color: lightskyblue;
    
}

.showcase {
    background-color: lightslategrey;
    height: 200px;
}

/* Custom CSS */