/* Bootstrap overrides 
hint: never redefine "col-" classes, just make a new class
*/


/* Custom CSS */
body{
    background: blue;
}
.container-fluid{
    width:100%;
    Color:yellow;
}
.prep{
    color:red;
    height:100px;
}

.block{
    height:;
    background-color:red;
}

.test{
    background-color: yellow;
}
h1{
color: green;
}
h2{
    color: green:
}
/* this is how you add comments in css*/

