/* Bootstrap overrides 
hint: never redefine "col-" classes, just make a new class
*/


/* Custom CSS */
body {
    background-color: f1f1f1;
}
h1, h2, h3, h4 {
    font-family: "AlternateGothic2BTRegular", arial, sans-serif;
}
h1 {
    font-size: 44px;
    color: #666666;
}
h2 {
    font-size: 36px;
    color: #666666;
}
h3 {
    font-size: 26px;
}
.navbar {
    background-color: #f1f1f1;
    border: 1px;
    border-style: solid;
    border-color: black;
    height: 5%;
    margin: 0px;
    border-radius: 0;
}
img {
    margin-top: 10px;
}
.showcase {
    background-color: #FDCA66;
    border: 0;
    border-style: solid;
    border-color: black;
    margin: none;
    height: 33%;
}
.headerone {
    background-color: #f1f1f1;
    border: 0;
    border-style: solid;
    border-color: black;
    padding-bottom: 10px;
    margin: 0;
}






.test{
    background-color: yellow;
}
.banner{
    width:100%;
    height:300px;
    background-color: #FDCA66;
}
.Logo{
    
}
.button{
    background-color:#FB8E00;
}
h1, h2, h3, p,{
font:#666666;
}
/* this is how you add comments in css*/

