/* Bootstrap overrides 
hint: never redefine "col-" classes, just make a new class
*/


/* Custom CSS */
body{
    background: blue;
}
.container-fluid{
    width:100%;
    Color:red;
    height:100px;
}
.prep{
    color:red;
    height:100px;
}
/* this is how you add comments in css*/

