.showcase {
    background-color: gray;
    border-color: black;
    border: 10px;
    width: 100%;
    height: 25%;
}
.headerone {
    background-color: gray;
    border-color: black;
    border: 10px;
    width: 50%;
    height: 35%;
}
.signup {
    background-color: gray;
    border-color: black;
    border: 10px;
    width: 50%;
    height: 35%;
}