@font-face {
    font-family: "AlternateGothic2BTRegular";
    src: url('fonts/alternate-gothic-no2-bt-webfont.eot');
    src: url('fonts/alternate-gothic-no2-bt-webfont.svg') format('svg'),
         url('fonts/alternate-gothic-no2-bt-webfont.ttf') format('truetype'),
         url('fonts/alternate-gothic-no2-bt-webfont.woff') format('woff');
}

@font-face {
    font-family: "RobotoBold";
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.svg') format('svg'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff');
}
body {
    background-color: f1f1f1;
}
h1, h2, h3, h4 {
    font-family: "AlternateGothic2BTRegular", arial, sans-serif;
}
h1 {
    font-size: 44px;
    color: #666666;
}
h2 {
    font-size: 36px;
    color: #666666;
}
h3 {
    font-size: 26px;
}
.navbar {
    background-color: #f1f1f1;
    border: 1px;
    border-style: solid;
    border-color: black;
    height: 5%;
    margin: 0px;
    border-radius: 0;
}
img {
    margin-top: 10px;
}
.showcase {
    background-color: #FDCA66;
    border: 0;
    border-style: solid;
    border-color: black;
    margin: none;
    height: 33%;
}
.headerone {
    background-color: #f1f1f1;
    border: 0;
    border-style: solid;
    border-color: black;
    padding-bottom: 10px;
    margin: 0;
}
.signup {
    background-color: #f1f1f1;
    border: 0;
    border-style: solid;
    border-color: black;
    width: 50%;
    margin-top: 20px;
}
button {
    background-color: #FB8E00;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
.contentbutton{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow:black 0px 0px 2px 0px;
    margin-right: 25px;
}
.contentbutton:hover {
    color:lightgray;
}
.contentbuttonfb:hover {
    color: lightgray;
}
.contentbuttontwo {
}
.contentbuttonthree {
    margin-right: 5%;
    margin-left: 25px;
}
.contentsignup {
    margin: 5%;
}
.lowerbuttons {
    padding-bottom: 10px;
}
.formone {
    margin: 5%;
}
.inputpageone {
    padding: 5px;
    width: 100%;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-style: italic;
}
.contentbuttonfb{
    background-color:rgb(103, 178, 229);
    margin-left: 5%;
}
h2 {
    display: inline;
}